#main-area {
  border: 3px dashed #ccc; border-radius: 20px;
  margin: 5px auto; padding: 5px;
  background: #eef;
}
#main-canvas {
  z-index:0;
  border: 2px solid #000; border-radius: 20px;
  margin: 0px;
  background: #000;
  box-shadow: 0 0 8px black;
  outline: 1px solid black;
}
#info {
  z-index: 999;
  position: absolute; right: 3%; bottom:10%;
  background: #cce; color:#112;
  border: 3px solid; border-radius: 5px; padding: 5px;
}
#skal-2023 {
  border: 3px solid; border-radius: 5px; padding: 5px;
  background: #cce;
  position: absolute; left:2%; top:5%;
}
#skal-2023:hover { background: #cdf; }

#progress-canvas {
  z-index:1;
  background:#000; color:#f33; outline: 1px solid #333;
  position: absolute; left: 7%; top: 83%;
  display: none;
}
#debug-canvas {
  background:#000; color:#fff; outline: 1px solid black; display: none;
  position:absolute; bottom:120px; right:70px;
  border: 3px solid #fff; border-radius: 10px;
}

.lil-gui {
  border-radius: 15px; padding: 5px;
}
