canvas {
  margin: 10px;
  box-shadow: 0 0 5px black;
}
#output { background-color: grey; }
#imagePixel { display: none; }   /* Hidden for now */

#drop-area {
  border: 3px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
  margin: 10px auto;
  padding: 10px;
  background: #eef;
  display: inline-block;
}
#drop-area.highlight {
  border-color: purple;
}
